<td-layout>
  <td-navigation-drawer flex sidenavTitle="Currently logged in as" name="John Doe" email="john.doe@gmail.com">
    <md-nav-list>
      <a md-list-item>
        <md-icon>tune</md-icon>
        Account settings
      </a>
      <a md-list-item>
        <md-icon>exit_to_app</md-icon>
        Sign out
      </a>
    </md-nav-list>
  </td-navigation-drawer>

  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button md-icon-button td-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
      </button>
      <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:covalent-mark"></md-icon>
      <span [routerLink]="['/']" class="cursor-pointer">SwiftHire - Job Board</span>
      <span flex></span>
      <a md-icon-button mdTooltip="Github" href="https://github.com/hieudt/mwa-swift-hire" target="_blank">
        <md-icon svgIcon="assets:github"></md-icon>
      </a>
    </div>

    <td-layout-manage-list
      #manageList
      [opened]="media.registerQuery('gt-sm') | async"
      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
      <!--
            <md-toolbar td-sidenav-content>
              <span>Optional Title</span>
            </md-toolbar>
      -->
      <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
        <a md-list-item [routerLink]="['dashboard']">
          <md-icon md-list-icon>dashboard</md-icon>
          Dashboard
        </a>
        <h3 md-subheader>For Candidates</h3>
        <a md-list-item>
          <md-icon md-list-icon>find_in_page</md-icon>
          Browse Jobs
        </a>
        <a md-list-item>
          <md-icon md-list-icon>assignment</md-icon>
          My Jobs
        </a>
        <a md-list-item>
          <md-icon md-list-icon>assignment_ind</md-icon>
          My Resume
        </a>
        <h3 md-subheader>For Employers</h3>
        <a md-list-item>
          <md-icon md-list-icon>note_add</md-icon>
          Post a Job
        </a>
        <a md-list-item>
          <md-icon md-list-icon>view_list</md-icon>
          My Offers
        </a>
      </md-nav-list>
      <router-outlet></router-outlet>
    </td-layout-manage-list>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 MUM. All rights reserved</span>
      </div>
    </td-layout-footer>

  </td-layout-nav>
</td-layout>
