<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card>
      <md-card-title>Job Details</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        display jobs here
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <a md-button color="accent" class="text-upper" [routerLink]="['/']">
          <span>View More</span>
        </a>
      </md-card-actions>
    </md-card>
  </div>
</div>
