<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
      <md-icon>arrow_back</md-icon>
    </button>
    <span>My Offers</span>
    <span flex></span>
    <button md-icon-button>
      <md-icon>settings</md-icon>
    </button>
  </div>
</md-toolbar>
<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-sm="100">
    <md-card>
      <md-card-content>
        <div class="md-content" class="inset">
          <md-nav-list class="will-load item-list">
            <ng-template let-item let-last="last" ngFor [ngForOf]="items">
              <a md-list-item layout-align="row" [routerLink]="['/jobs', item._id]">
                <h3 md-line>{{item.name}} </h3>
                <p md-line>{{item.state | truncate:40}} </p>
                <p md-line>{{item.city | truncate:40}} </p>
                <p md-line>{{item.street | truncate:40}} </p>
                <p md-line>{{item.feeRate | truncate:40}} </p>
                <p md-line>{{item.preferredDate | truncate:40}} </p>
                <span flex></span>
                <span class="md-caption text-right" flex="20"> {{item.createdAt | timeAgo }} </span>
              </a>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </md-nav-list>
        </div>
      </md-card-content>
      <md-divider></md-divider>
    </md-card>
  </div>
</div>